# Modelos
*.pt
*.pth
*.bin
*.onnx
*.pkl

# Directorios de Modelos
models/
checkpoints/

# Datos
data/images/
data/dataset_entrenar_IA/
data/embeddings/
__pycache__/

# Entornos virtuales
.venv/
.cache/

# Índices FAISS
*.index
*.bin