# Modelos
*.pt
*.pth
*.bin
*.onnx
*.pkl

# Directorios de Modelos
models/
checkpoints/

# Datos
data/images/
data/dataset_entrenar_IA/
data/embeddings/
__pycache__/

# Entornos virtuales
.venv/
.cache/

# Índices FAISS
*.index
*.bin

#zip del data para trabajar en la nube
data_clean.zip

# yolo
data/inditex_yolo.yaml
data/product_color_hists.json
data/yolo_dataset/
data/yolo_test_bboxes.json
intermediate_yolo_color_submission.csv
intermediate_yolo_color_url_hack_submission.csv
runs/
